@page
@model CingeRazor.Pages.Articulo.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 align="center">Admin Artículos</h1>
<hr border-style:inset />

<p>
    <a asp-page="Create">Crear Artículo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Articulos[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulos[0].CostoPromedio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulos[0].MargenUtilida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulos[0].PrecioVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulos[0].PagaImpuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulos[0].FechaCreacíon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulos[0].CódigoUnidadNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulos[0].TipoArticuloNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Articulos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostoPromedio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MargenUtilida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PagaImpuesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacíon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CódigoUnidadNavigation.CódigoUnidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoArticuloNavigation.TipoArticulo)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Código">Modificar</a> |
                    <a asp-page="./Details" asp-route-id="@item.Código">Detalles</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Código">Borrar</a>
                </td>
            </tr>
        }
       
    </tbody>
</table>
