@page
@model ObtenerClienteModel
@{
    ViewBag.Title = "Buscar clientes";
    Layout = null;

}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<script src="~/lib/jquery-3.3.1.min.js"></script>
<script>

    function seleccionar(codigo) {
        var Cliente = {};
        Cliente.Codigo = codigo;
        console.info(codigo);
        window.opener.obtenerCliente(Cliente);
        window.close();
    }

    function esconde_div() {
        var elemento = document.getElementById("ocultarcliente");
        elemento.style.display = 'none';
        //if  elemento.style.display = 'none'{

        //}
    }
    function visible_div() {
        var elemento = document.getElementById("ocultarcliente");
        elemento.style.display = 'block';
    }

    function ver() {

    }

</script>
<div>
    <button class='btn btn-danger' type='button'>
        <span class='fa fa-remove'></span>
        Regresar
    </button>
</div>
<div>
    <button class='btn btn-danger' onclick="javascript:visible_div();" value="Ocultar div">
        <span class='fa fa-remove'></span>
        Cancelar
    </button>
</div>

<div class="row" id="ocultarcliente">

    <div class="col-md-4">
        <div class="form-group">
            <label  style="visibility:hidden" id="lcodigo" class="control-label">Código: </label>
            <input type="text" name="Codigo" class="form-control"  style="visibility:hidden" maxlength="20" required />
        </div>
        <label  style="visibility:hidden" class="control-label">Nombre: </label>
        <input type="text" name="Nombre" class="form-control"  style="visibility:hidden" maxlength="200" required />
        <div class="form-group">

            <label  style="visibility:hidden" class="control-label">Localidad: </label>
            <input type="text" name="Localidad" class="form-control"  style="visibility:hidden" maxlength="200" required />
        </div>
        <label  style="visibility:hidden" class="control-label">CódigoCédula: </label>
        <select id="CódigoCédula"  style="visibility:hidden" class="form-control">
            <option>Fisica</option>
            <option>Jurídica</option>
        </select>
        <div class="form-group">
            <label  style="visibility:hidden" class="control-label">Cédula: </label>
            <input type="text" name="Cédula" class="form-control"  style="visibility:hidden" maxlength="50" required />
        </div>
        <label  style="visibility:hidden" class="control-label">TelefonoCodigoArea: </label>
        <input type="text" name="TelefonoCodigoArea" class="form-control"  style="visibility:hidden"  maxlength="5" required />

        <div class="form-group">
            <label  style="visibility:hidden" class="control-label">TelefonoCodigoArea: </label>
            <input type="text" name="TelefonoCodigoArea" class="form-control"  style="visibility:hidden" maxlength="20" required />
        </div>
        <label  style="visibility:hidden" class="control-label">Teléfono: </label>
        <input type="text" name="Teléfono" class="form-control"  style="visibility:hidden" maxlength="20" required />

        <div class="form-group">
            <label  style="visibility:hidden" class="control-label">Dirección: </label>
            <input type="text" name="Dirección" class="form-control"  style="visibility:hidden" maxlength="250" required />
        </div>
        <div class="form-group">
            <label  style="visibility:hidden" class="control-label">Email: </label>
            <input type="email" name="Email" class="form-control"  style="visibility:hidden" placeholder="cinge@example.com" required />
        </div>

        <div class="form-group">
            <label  style="visibility:hidden" class="control-label">FechaCreacíon: </label>
            <input type="datetime" name="FechaCreacíon" class="form-control"  style="visibility:hidden" value="@DateTime.Now.Year-@DateTime.Now.Month-@DateTime.Now.Day" readonly />
        </div>
        <div class="form-group">
            <label  style="visibility:hidden" class="control-label">CódigoZona: </label>
            <select id="CódigoZona" class="form-control"  style="visibility:hidden" >
                <option></option>

            </select>
        </div>

    </div>
</div>
<h2>Filtros</h2>
<div class="row">
    <div class="col-md-4">
        <form sp-page="./ObtenerCliente" method="get">
            <div class="form-group">
                <label class="control-label">Código: </label>
                <input type="text" name="CodigoBusqueda" value="@Model.CodigoBusqueda" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Nombre: </label>
                <input type="text" name="NombreBusqueda" value="@Model.NombreBusqueda" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Cédula: </label>
                <input type="text" name="CedulaBusqueda" value="@Model.CedulaBusqueda" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Teléfono: </label>
                <input type="text" name="TelefonoBusqueda" value="@Model.TelefonoBusqueda" class="form-control" />
            </div>
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-page="./ObtenerCliente">Todos los clientes</a>
        </form>
    </div>
</div>
<table class="table" id="tbcliente">
    <thead>
        <tr>
            <th>
                <a asp-page="./ObtenerCliente" asp-route-ordenSort="@Model.CodigoSort">
                    @Html.DisplayNameFor(model => model.Clientes[0].Código)
                </a>
            </th>
            <th>
                <a asp-page="./ObtenerCliente" asp-route-ordenSort="@Model.NombreSort">
                    @Html.DisplayNameFor(model => model.Clientes[0].Nombre)
                </a>
            </th>
            <th>
                <a asp-page="./ObtenerCliente" asp-route-ordenSort="@Model.TelefonoSort">
                    @Html.DisplayNameFor(model => model.Clientes[0].Teléfono)
                </a>
            </th>
            <th>
                <a asp-page="./ObtenerCliente" asp-route-ordenSort="@Model.CedulaSort">
                    @Html.DisplayNameFor(model => model.Clientes[0].Cédula)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Clientes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Código)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teléfono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cédula)
                </td>
                <td>
                    <button class='btn btn-success' type='button' onclick="seleccionar('@Html.DisplayFor(modelItem => item.Código)')">
                        <span class='fa fa-remove'></span>
                        Seleccionar
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


@{
    var prevDisabled = !Model.Clientes.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Clientes.HasNextPage ? "disabled" : "";
}

<a asp-page="./ObtenerCliente"
   asp-route-sortOrder="@Model.ActualSort"
   asp-route-pageIndex="@(Model.Clientes.PageIndex - 1)"
   asp-route-codigoActual="@Model.CodigoBusqueda"
   asp-route-nombreActual="@Model.NombreBusqueda"
   asp-route-cedulaActual="@Model.CedulaBusqueda"
   asp-route-telefonoActual="@Model.TelefonoBusqueda"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-page="./ObtenerCliente"
   asp-route-sortOrder="@Model.ActualSort"
   asp-route-pageIndex="@(Model.Clientes.PageIndex + 1)"
   asp-route-codigoActual="@Model.CodigoBusqueda"
   asp-route-nombreActual="@Model.NombreBusqueda"
   asp-route-cedulaActual="@Model.CedulaBusqueda"
   asp-route-telefonoActual="@Model.TelefonoBusqueda"
   class="btn btn-default @nextDisabled">
    Next
</a>

