@page
@model CingeRazor.Pages.Articulo.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 align="center">Artículos</h1>
<hr border-style:inset />

<p>
    <a asp-page="Create">Crear Artículo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Articulos[0].Código)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulos[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulos[0].CostoPromedio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulos[0].MargenUtilida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulos[0].PrecioVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulos[0].PagaImpuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulos[0].FechaCreacíon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulos[0].CódigoUnidadNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulos[0].TipoArticuloNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Articulos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Código)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostoPromedio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MargenUtilida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PagaImpuesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacíon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CódigoUnidadNavigation.CódigoUnidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoArticuloNavigation.TipoArticulo)
                </td>
               
            </tr>
        }

    </tbody>
</table>


@*<html>
    <head>*@

@*<meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>*@
@*</head>
    <body>

        <h2>MENSAJE PARA J</h2>

        <!-- Trigger/Open The Modal -->
        <button id="myBtn">DALE CLIC</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Hello Joaqui Soy Hazel</p>
            </div>

        </div>

        <script>
            // Get the modal
            var modal = document.getElementById('myModal');

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
            btn.onclick = function () {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>

    </body>
    </html>*@
