@model CingeWeb.Models.Compañia

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles del Registro</h2>

<div>
    <h4>Compañia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreCompañia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreCompañia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApartadoPostal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApartadoPostal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CedulaJuridica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CedulaJuridica)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaginaWeb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaginaWeb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FacturaElectronica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FacturaElectronica)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DireccionLogo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DireccionLogo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCompañia">Modificar</a> |
    <a asp-action="Index">Regresar</a>
</div>
