@page
@model CingeRazor.Pages.Cliente.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles de Cliente</h2>

<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clientes.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clientes.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clientes.Localidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clientes.Localidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clientes.Cédula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clientes.Cédula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clientes.TelefonoCodigoArea)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clientes.TelefonoCodigoArea)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clientes.Teléfono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clientes.Teléfono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clientes.Dirección)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clientes.Dirección)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clientes.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clientes.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clientes.FechaCreacíon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clientes.FechaCreacíon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clientes.CódigoCédulaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clientes.CódigoCédulaNavigation.CódigoCédula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clientes.CódigoZonaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clientes.CódigoZonaNavigation.CódigoZona)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Clientes.Código">Modificar</a> |
    <a asp-page="./Index">Regresar</a>
</div>
