@page
@model CingeRazor.Pages.Cliente.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 align="center">Admin Clientes</h1>
<hr border-style:inset />

<p>
    <a asp-page="Create">Crear Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clientes[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes[0].Localidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes[0].Cédula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes[0].TelefonoCodigoArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes[0].Teléfono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes[0].Dirección)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes[0].FechaCreacíon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes[0].CódigoCédulaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes[0].CódigoZonaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Clientes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Localidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cédula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelefonoCodigoArea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teléfono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dirección)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacíon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CódigoCédulaNavigation.CódigoCédula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CódigoZonaNavigation.CódigoZona)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Código">Modificar</a> |
                    <a asp-page="./Details" asp-route-id="@item.Código">Detalles</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Código">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
