@page
@model CingeRazor.Pages.Articulo.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Borrar</h2>

<h3>Esta Seguro de Borrar Registro?</h3>
<div>
    <h4>Articulos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Articulos.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Articulos.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Articulos.CostoPromedio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Articulos.CostoPromedio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Articulos.MargenUtilida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Articulos.MargenUtilida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Articulos.PrecioVenta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Articulos.PrecioVenta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Articulos.PagaImpuesto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Articulos.PagaImpuesto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Articulos.FechaCreacíon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Articulos.FechaCreacíon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Articulos.CódigoUnidadNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Articulos.CódigoUnidadNavigation.CódigoUnidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Articulos.TipoArticuloNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Articulos.TipoArticuloNavigation.TipoArticulo)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Articulos.Código" />
        <input type="submit" value="Borrar" class="btn btn-default" /> |
        <a asp-page="./Index">Regresar</a>
    </form>
</div>
