<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CingeRazor</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/images/cinge nombre menu.png " width="120">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"></a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @*<li>@Html.ActionLink("Home", "Index", "Home")*@
                    @*<li>@Html.ActionLink("About", "About", "Home")
        <li>@Html.ActionLink("Contact", "Contact", "Home")
        <li>@Html.ActionLink("Principal", "Index", "Home")</li>*@
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                            Facturación <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">

                            <li><a href="@Url.Content("~/Factura/Create")">Facturar</a></li>
                            @*<li><a href="@Url.Content("~/Inventarios/Articulo/Index")">Artículos</a></li>
        <li><a href="@Url.Content("~/Inventarios/Medida/Index")">Medida</a></li>
        <li><a href="@Url.Content("~/Inventarios/TipoArticulo/Index")">Tipo Artículos</a></li>*@
                            @*<li>@Html.ActionLink("Medida", "Index", "Medida")</li>
        <li>@Html.ActionLink("TipoArtículo", "Index", "TipoArtículo")</li>*@
                        </ul>
                    </li>
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                            Inventarios <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">

                            <li><a href="@Url.Content("~/Inventarios/Articulo/Index")">Artículos</a></li>
                            <li><a href="@Url.Content("~/Inventarios/Medida/Index")">Medida</a></li>
                            <li><a href="@Url.Content("~/Inventarios/TipoArticulo/Index")">Tipo Artículos</a></li>
                            @*<li>@Html.ActionLink("Medida", "Index", "Medida")</li>
                <li>@Html.ActionLink("TipoArtículo", "Index", "TipoArtículo")</li>*@
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                            Clientes <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Content("~/Clientes/Cedula/Index")">Cédulas</a></li>
                            <li><a href="@Url.Content("~/Clientes/Cliente/Index")">Clientes</a></li>
                            @*<li><a href="@Url.Content("~/Clientes/Mascota/Index")">Mascotas</a></li>*@
                            <li><a href="@Url.Content("~/Clientes/Zona/Index")">Zonas</a></li>
                            @*<li>@Html.ActionLink("Cédula", "Index", "Cédula")</li>
                <li>@Html.ActionLink("Cliente", "Index", "Cliente")</li>
                <li>@Html.ActionLink("Mascota", "Index", "Mascota")</li>
                <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                <li>@Html.ActionLink("Zona", "Index", "Zona")</li>*@
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                            Administración <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Content("~/Administracion/Compañia/Index")">Compañias</a></li>
                            <li><a href="@Url.Content("~/Administracion/Roles/Index")">Roles</a></li>
                            <li><a href="@Url.Content("~/Administracion/Usuarios/Index")">Usuarios</a></li>
                            @*<li>@Html.ActionLink("Compañia", "Index", "Compañia")</li>
                <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
                <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>*@
                        </ul>
                    </li>
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>*@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-page="/Logout">@User.Identity.Name (Cerrar sesión)</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - CingeRazor</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>

</html>


