<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>jQuery Shield UI Demos</title>
    <link id="themecss" rel="stylesheet" type="text/css" href="//www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
    <script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
</head>
<body class="theme-light">
    <link href="/Content/css/ListBox/FlagsAll.css" rel="stylesheet" type="text/css" />
    <div class="outer">
        <ul id="mymenu">
            <li data-href="#home">Cinge</li>

            <li data-href="#products">
                <p>Facturación</p>
                <ul>
                    <li><a asp-page="/Index">Factura</a></li>
                </ul>
            </li>
            <li data-href="#products">
                <p>Mantenimientos</p>
                <ul>
                    <li>
                        <p>Clientes</p>
                        <ul>
                            <li><a asp-page="/Clientes/Cliente">Clientes</a></li>
                            <li><a asp-page="/Clientes/Cedula">Cédulas</a></li>
                            <li><a asp-page="/Clientes/Zona">Zonas</a></li>
                        </ul>
                    </li>
                    <li>
                        <p>Artículos</p>
                        <ul>
                            <li><a asp-page="/Index">Artículos</a></li>
                            <li><a asp-page="/Index">Tipo Artículos</a></li>
                            <li><a asp-page="/Index">Medidas</a></li>
                        </ul>
                    </li>
                </ul>
            <li data-href="#products">
                <p>Reportes</p>
                <ul>
                    <li><a asp-page="/Index">Ventas</a></li>
                </ul>
            </li>
            <li data-href="#products">
                <p>Seguridad</p>
                <ul>
                    <li><a asp-page="/Index">Roles</a></li>
                    <li><a asp-page="/Index">Usuarios</a></li>
                    <li><a asp-page="/Index">Compañia</a></li>
                    <li><a asp-page="/Index">Cambio Contraseña</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <script type="text/javascript">
        jQuery(function ($) {
            $("#mymenu").shieldMenu({
                cls: "mymenu",
                orientation: "horizontal"
            });
        });
    </script>
    <style>
        .outer {
            margin: auto;
            max-width: 600px;
            min-height: 100px;
        }

        .mymenu {
            width: 90%;
        }

            .mymenu .right {
                float: right;
            }

        .megamenu:hover,
        .megamenu.sui-menu-item-selected {
            background-color: transparent;
            color: inherit;
        }

        .megamenu .flag {
            display: inline-block;
        }

        .megamenu .mmlink {
            color: blue;
            text-decoration: underline;
        }

        .megamenu-inner {
            width: 400px;
        }
    </style>
</body>
</html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CingeRazor</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-form navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/images/logo nuevo.png" width="120">
                <a asp-page="/Index" class="navbar-brand"></a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Home", "Index", "Home")
                    <li>@Html.ActionLink("About", "About", "Home")
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-page="/Logout">@User.Identity.Name (Cerrar sesión)</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - CingeRazor</p>
        </footer>
    </div>


    <environment include="Development">

        <script src="~/lib/jquery/"></script>
        <script src="~/lib/bootstrap"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
   </body>
</html>

