@model IEnumerable<CingeWeb.Models.Medidas>

@{
    ViewData["Title"] = "Index";
}

<h1 align="center">Mantenimiento de Medidas</h1>
<hr border-style:inset />
<p>
    <a asp-action="Create">Crear Medida</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreUnidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreUnidad)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CódigoUnidad">Modificar</a> |
                    <a asp-action="Details" asp-route-id="@item.CódigoUnidad">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.CódigoUnidad">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
