@page
@model CingeRazor.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 align="center">Roles</h1>
<hr border-style:inset />

<p>
    <a asp-page="Create">Crear Rol</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Roles[0].NombreRol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Roles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreRol)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.IdRol">Modificar</a> |
                    <a asp-page="./Details" asp-route-id="@item.IdRol">Detalles</a> |
                    <a asp-page="./Delete" asp-route-id="@item.IdRol">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
